body {
    place-content: center;
    display: grid;
    background-image: url('https://th.bing.com/th/id/OIP.z9IUzx227VARcSWehDPihgHaGP?w=225&h=190&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    margin: 0;
    background-color: palegoldenrod;
}

#titulo-principal {
    padding: 25px;
    text-align: center;
    margin: 0;
    width: 1484px;
    background-color: rgb(245, 76, 76);
    font-family: Georgia, 'Times New Roman', Times, serif;
}