.slider-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.slider-frame li {
    list-style: none;
    width: 25%;
}

.slider-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 40s infinite ease-in-out;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    30% {
        margin-left: -100%;
    }

    55% {
        margin-left: -100%;
    }

    60% {
        margin-left: -200%;
    }

    85% {
        margin-left: -200%;
    }

    90% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

#slider-container {
    overflow: hidden;
    width: 800px;
    height: 400px;
    margin: auto;
}

#slider {
    transition: transform 0.8s ease-in-out;
    margin-top: 20px;
}

#contenedor-productos:only-child .productos {
    margin: auto;
}

#contenedor-productos:nth-child(3):not(:only-child) .productos {
    justify-content: space-between;
}

#anterior,
#siguiente {
    position: absolute;
    top: 95%;
    transform: translateY(-50%);
    margin: 0 250px;
    padding: 10px;
    background-color: springgreen;
    border: 2px solid black;
    font-size: large;
}

#anterior {
    left: 0;
}

#siguiente {
    right: 0;
}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(239, 228, 74);
    padding: 25px;
}

#contenedor-elecciones {
    text-align: center;
    font-size: medium;
    width: 500px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: rgb(240, 143, 108);
    padding: 15px;
    margin: auto;
}

select {
    border: 2px solid black;
    background-color: peachpuff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}


label {
    font-size: medium;
    color: black;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 4px;
}

#boton-elecciones {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    width: 200px;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: thistle;
}

#contenedor-informacion-compra {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: fit-content;
    border-radius: 3px;
    margin: auto;
    padding: 20px;
    margin-bottom: 10px;
}

#contenedor-productos {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

img {
    width: 40px;
    height: 100px;
}

.productos {
    flex: 0 0 auto;
    max-width: 12rem;
    height: 22rem;
    padding: 5px;
    margin: 1px;
    justify-content: center;
    object-fit: cover;
    border: 2px solid black;
    background-color: white;
    text-align: center;
}

.metodo-pago {
    text-align: center;
    display: grid;
}

.metodo-pago select {
    margin-top: 10px;
    font-size: medium;
    text-align: center;
    display: grid;
}

.cantidades-permitidas select {
    width: 178px;
    font-size: medium;
}

.boton-compra {
    background-color: lightgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 18px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: orange !important;
    padding: 15px;
}

@media (min-width: 992px) {
    #carrito-notif-1 {
        display: none;
    }
}

@media (max-width: 992px) {
    #carrito-notif-2 {
        display: none;
    }
}